body {
    font-family: sans-serif;
    margin: 0;
    text-align: center;
}

.header {
    background-color: #2d2d30;
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding: 12px;
    margin-bottom: 20px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.info {
    background-color: #007acc;
    border: 2px solid #eee;
    border-radius: 50px;
    box-shadow: 2px 4px 16px #0000000f;
    padding: 16px;
}

.text {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    margin: 3px 0px;
}

img {
    width: 300px;
    height: auto;
}

.output {
    margin: 5px 0px;
    font-size: 30px;
    font-weight: bold;
}

.scoreboard {
    font-size: 30px;
}